<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Logo</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 me-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="billing">Billing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="checkout">Checkout</a>
          
        </li>
      </ul>
      <span class="me-5">
          {{items.size}} Items
      </span>
    </div>
  </nav>