label{

    margin-bottom: 5px;
}
.ng-submitted input.ng-invalid{

    border: 1px solid red;
}
input.ng-invalid.ng-touched{

    border: 1px solid red;
}
.ng-submitted select.ng-invalid{

    border: 1px solid red;
}
select.ng-invalid.ng-touched{

    border: 1px solid red;
}