<div class="row card">
    <!-- <div class="card-header">
        <div class="row">
            <div class="col-4 text-center" style="padding-top: 8px; text-align: center; justify-content: center;">
                
                <b>Your Cart items</b>
            </div>
            <div class="col">
                <span><button class="btn btn-danger">Empty Cart</button></span>
                <span><button class="btn btn-primary">Total items {{cart.size}}</button></span>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-4 text-center"><b>Products</b></div>
        <div class="col-2 text-center"><b>Price</b></div>
        <div class="col-4 text-center"><b>Qty</b></div>
        <div class="col-2 text-center"><b>Amount</b></div>
    </div>

    <div class="row text-center" *ngIf = 'cart.size==0' style="padding-top: 8px; text-align: center; justify-content: center;">
        NO ITEMS IN CART
    </div>

    <div class="row" *ngFor='let i of l' name = 'cart'>
        <div class="col-4">{{products[i[0]-1].product_name}}</div>
        <div class="col-2">{{products[i[0]-1].product_price}}X</div>
        <div class="col-4" style="padding-top: 8px; text-align: center; justify-content: center;">
            <!-- <span>
                <button class="btn btn-primary"(click)='deltocart(i[0])'>-</button>
            </span> -->
            <span>
                {{i[1]}}
            </span>
            <!-- <span>
                <button class="btn btn-primary" (click)='addtocart(i[0])'>+</button>

            </span> -->

        </div>
        <div class="col-2">{{i[1]*toint(products[i[0]-1].product_price)}}</div>
    </div>

    <div style="padding-top: 8px; text-align: right;" >
       Total= {{total}}
    </div>
    <!-- <div style="padding-top: 8px; text-align: center; justify-content: center;">
        
        <button class="btn btn-primary">Checkout</button>
    </div> -->
   
</div>
